    body {
      font-family: 'Exo2', sans-serif;
      background-color: #bad9ee96;
      color: #1f1f1f;
  cursor: url("images/ChatGPT Image Feb 5, 2026, 11_39_53 AM.png"), auto;
    }
  

    h1, h2, h3, h4 {
      font-family: 'Playfair Display', serif;
    }

    section {
      padding: 5rem 0;
    }

    .accent {
      color: #8b5e3c;
    }

    .hero {
      min-height: 90vh;
    }

    .project-card img {
      transition: transform 0.4s ease;
    }

    .project-card:hover img {
      transform: scale(1.05);
    }

    footer {
      background-color: #000000;
      color: #7fb9d9c0;
    }