    body {
      font-family: 'Exo2', sans-serif;
      background-color: #bad9ee96;
      color: #1f1f1f;
  cursor: url("images/ChatGPT Image Feb 5, 2026, 11_39_53 AM.png"), auto;
    }
  
.pen-underline {
  position: relative;
  display: inline-block;
  cursor: none; /* lets your pen cursor shine */
}

.pen-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: #ff6b6b; /* accent color */
  border-radius: 2px;
  transition: width 0.45s ease;
}

.pen-underline:hover::after {
  width: 100%;
}


    h1, h2, h3, h4 {
      font-family: 'Playfair Display', serif;
    }

    section {
      padding: 5rem 0;
    }

    .accent {
      color: #8b5e3c;
    }

    .hero {
      min-height: 90vh;
    }

    .project-card img {
      transition: transform 0.4s ease;
    }

    .project-card:hover img {
      transform: scale(1.05);
    }

    footer {
      background-color: #000000;
      color: #7fb9d9c0;
    }