   * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #facddf;
  color: #2a2a2a;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

/* HERO */
.hero {
  min-height: 100vh;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.hero h1 {
  font-size: 64px;
  line-height: 1.1;
}

.hero p {
  margin-top: 10px;
  color: #762920;
}

/* PHOTO */
.photo-wrap img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #794a45;
}

/* ABOUT */
.about, .work, .contact {
  padding: 80px 60px;
}

.about h2,
.work h2,
.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  max-width: 600px;
}

/* WORK */
.work {
  padding: 24px;
}

.cards {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  flex-wrap: nowrap; 
}

.card {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card img {
  width: 160px;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
}


.card-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.card img {
  width: 120px;
  height: 160px; /* passport size */
  object-fit: cover;
  border-radius: 6px;
}



/* CONTACT */
.contact button {
  padding: 14px 30px;
  background: #ff6b5c;
  border: none;
  color: white;
  border-radius: 30px;
  margin-top: 20px;
}

/* CUSTOM CURSOR */
.cursor {
  width: 18px;
  height: 18px;
  background: #ff6b5c;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.cursor-tooltip {
  position: fixed;
  background: #2a2a2a;
  color: white;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}
